.game_rating{
    display: flex;
    align-items: center;
}

.star_rating_icon{
    color: #ffffff;
}

.rating_number{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    background-color: rgba(245, 245, 245, 0.6);
    margin-left: 8px;
    border-radius: 4px;
}

.rating_number_text{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
}