.game_side_title{
    font-family: 'Alkatra', cursive;
    font-size: 35px;
    color: #FFFFFF;
}


.game_side_description{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.game_side_description_text{
    font-family: 'Alkatra', cursive;
    font-size: 16px;
    line-height: 14px;
    margin: 10px 0px
}

.text_gray{
    color:  rgba(245, 245, 245, 0.6);
}

.text_white{
    color: #FFFFFF;
}

.game_side_description a:hover{
    color: blueviolet;
}

.game_side_description_item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


@media(max-width: 1120px) {
    .game_side_description{
        width: 100%;
    }
}


@media(max-width: 414px) {
    .game_side_title{
        font-size: 26px;
    }

    .game_side_description_text{
        font-size: 14px;
    }
}