.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.swiper-slide img {
    display: flex;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}