.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 40px;
    background-color: #191919;
    /* margin-bottom: 24px; */
}

.header_offset{
    margin: 0 auto;
    max-width: 1840px;
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 12px;
    cursor: pointer;
}

.input_block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: 40px;
}

.input_search{
    width: 100%;
    border-radius: 12px;
    padding: 8px 3px;
    background-color: #4d4d4d;
    outline: none;
    border: none;
    margin: 0px 8px;
    padding: 6px 12px;
    font-size: 24px;
    color: white;
}

.btn_header_block{
    display: flex;
    align-items: center;
    padding: 8px 3px;
    width: 40%;
}

.btn_header{
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    border-radius: 8px;
    padding: 8px;
    border: none;
    margin: 0px 8px;
    transition: .3s;
}

.btn_header:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.icon_mobile{
    color: #763bf0;
    height: 48px;
    width: 48px;
}

