.game_card_grid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 24px 12px;
}


.img_platform{
    height: 30px;
    width: 30px;
    margin: 10px 10px 0px 0px;
}

.card_img{
    height: 300px;
    width: 400px;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}






