.card_platform{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    padding: 16px 24px;
    border-radius: 8px;

}

.card_title{
    font-family: Alkatra;
    color: #f3f5f5;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
}

.card_title:hover{
    color: lightgray;
}

.card_text{
    font-family: Alkatra;
    color: #f3f5f5;
    font-size: 18px;
    font-weight: 400;
}

.cart__item{
    font-family: Alkatra;
    color: #f3f5f5;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.cart__item:hover{
    color: lightgray;
}