.dashBoard{
    display: flex;
    padding: 24px 12px;
    width: 24%;
    height: 100%;
    position: sticky;
    top: 112px;
}

.menu_dashBoard{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list_menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    padding: 0;
    position: sticky;
}

.list_item_menu{
    color: #ffffff;
    font-size: 28px;
    line-height: 28px;
    text-align: start;
    margin: 4px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu_dashBoard > a{
    flex-direction: row;
}

.list_item_menu:hover > .icon_box{
    background-color: white;
    color: #191919;
}
.list_item_menu:hover > div > .icon_box{
    background-color: white;
    color: #191919;
}


.icon_box{
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 4px;
}

.menu_text{
    margin-left: 16px;
}

.list_item_menu > svg:hover{

}

@media (max-width: 1200px) {
    .dashBoard{
         display: none;
    }
}