.game_detail_main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    /*padding: 0px 24px;*/
}

.game_detail_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
}

.game_header_title{
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1px;
}


.game_banner{
    display: flex;
    width: 100%;
}

.game_screenshots{
    display: flex;
    width: 65%;
    height: 500px;
}

.game_side_info{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    text-align: center;
}


.game_genres_stores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 16px;
    justify-content: space-between;
}


.game_tags{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.game_genres{
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    align-items: flex-start;
}

.game_stores{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    flex-wrap: wrap;
}


.under_line{
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    margin: 8px 0px;
}



.game_genres_text{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.game_genres_name_text{
    font-family: 'Alkatra';
    font-style: italic;
    text-decoration: underline;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-right: 8px;

}

.game_detail_offset{
    margin: 0 auto;
    max-width: 1620px;
    width: 100%;
}

.about_game{
    display: flex;
    width: 100%;
    flex-direction: column;
    word-wrap: break-word;
}

.about_game_description{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;

}

.metacritic_platform{
    display: flex;
    width: 100%;
    margin: 24px 0px;
}

.reddit_link{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 24px 0px;
    align-items: flex-start;
}

.reddit_link_text{
    font-family: 'Alkatra', cursive;
    font-size: 24px;
    color: #FFFFFF;
}

.reddit_link_text:hover{
    color: #f7bfbf;
}

.click_info{
    display: flex;
    align-items: center;
    color: white;
    margin: 8px 0px;
    font-size: 18px;
    line-height: 24px;
}




@media (max-width: 1680px) {
    .game_detail_main{
        max-width: 1320px;
    }
}

@media (max-width: 1480px) {
    .game_detail_main{
        max-width: 1120px;
    }
}


@media (max-width: 1280px) {
    .game_detail_main{
        max-width: 996px;
    }
}


@media (max-width: 1120px) {
    .game_detail_main{
        max-width: 992px;
    }

    .game_banner{
        flex-direction: column;
    }

    .game_side_info{
        width: 100%;
        order: -1
    }

    .game_screenshots{
        width: 100%;
    }

    .game_side_info{
        margin-bottom: 24px;
    }
}


@media (max-width: 996px) {
    .game_detail_main{
        max-width: 768px;
    }

    .game_screenshots{
        height: 400px;
    }
}

@media (max-width: 768px) {
    .game_detail_main{
        max-width: 576px;
        padding: 0px 12px;
    }

    .game_screenshots{
        height: 400px;
    }

    .game_genres_stores{
        flex-direction: column;
        width: 100%;
    }

    .game_stores{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .game_detail_main{
        max-width: 414px;
    }

    .game_screenshots{
        height: 300px;
    }
}



@media (max-width: 414px) {
    .game_detail_main{
        max-width: 375px;
    }

    .game_screenshots{
        height: 200px;
    }

    .game_genres_text{
        flex-wrap: wrap;
    }
}



@media (max-width: 375px) {
    .game_detail_main{
        max-width: 320px;
    }

    .game_header_title{
        font-size: 35px;
    }
    
    .about_game_description{
        font-size: 18px;
    }

    .reddit_link_text{
        font-size: 18px;
    }
}













/* ///////////////////////////////////////////////////////////////////// */

.content{
    display: flex;
    z-index: 100;
}


.back_button{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 30px;
    width: 40px;
    border: none;
    margin: 24px 6px;
    color: #FFFFFF;
    cursor: pointer;
}

/* .game_screenshots{
    display: flex;
    height: 400px;
    width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 16px;

} */

.game_screenshots_item{
    display: flex;
    width: 100%;
    height: 100%;
}

.slides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
}

.slider_btn {
    aspect-ratio: 1;
    cursor: pointer;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 32px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}


