.slider_wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 65%;
    margin-bottom: 50px;
}


.slider_wrapper_img{
    height: 80px;
    width: 140px;
    cursor: pointer;
    display: flex;
}

.slider_wrapper_btn{
    height: 40px;
    width: 40px;
    background-color: rgb(18, 18, 18);
    border: none;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
}

.slider_wrapper_item{
    display: flex;
    width: 100%;
    margin: 0px 4px;
}

.slider_item{
    display: flex;
    width: 80%;
    margin: 0px 6px;
    transition: transform 0.5s ease-in-out;
}

.active{
    border: 1px solid #ffff;
}

.none{
    border: none;
}


@media (max-width: 1620px) {
  

    .slider_wrapper_img{
        height: 75px;
        width: 125px;
    }
       
    
}

@media (max-width: 1420px) {
   .slider_wrapper_img{
    height: 65px;
    width: 110px;
   }
}


@media (max-width: 1280px) {
    .slider_wrapper_img{
     height: 55px;
     width: 90px;
    }
 }

@media (max-width: 1120px) {

    .slider_wrapper_item{
        overflow: hidden;
        width: 100%;
    }

    .slider_wrapper_img{
        height: 80px;
        width: 160px; 
    }

    .slider_wrapper{
        max-width: none;
    }

   
 }


 @media (max-width: 992px) {
    .slider_wrapper{
        max-width: none;
    }

    .slider_wrapper_btn{
        height: 30px;
        width: 30px;
    }

}


@media (max-width: 768px) {
    
    .slider_wrapper_item{
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
    }

    .slider_wrapper{
        max-width: none;
    }


}


@media (max-width: 576px) {

    .slider_item{
        width: 100%;
       
    }

    .slider_wrapper{
        overflow: hidden;
    }

    .slider_item{
        width: 100%;
    }

    .slider_wrapper_img{
        height: 60px;
        width: 100px;
    }

    .slider_wrapper_btn{
        height: 20px;
        width: 20px;
    }

}






