.App{
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  width: 100%;
  min-height: 100vh;
}


.offset{
  display: flex;
  /*flex-direction: column;*/
  flex: 1 1 auto; 
  margin: 0 auto;
  max-width: 1840px;
  padding: 24px 0px;
}



