.slider_main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container_slider{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}


.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn_slide{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffff;
}

.prev {
    top: 40%;
    left: 10px;
}

.next {
    top: 40%;
    right: 10px;
}

.active-anim {
    opacity: 1;
}


.size_icon{
    font-size: 2.2rem;
}

@media (max-width: 576px) {
    .btn_slide{
        height: 40px;
        width: 40px;
    
    }
}

  